span.hyper_title {
    width: 140px;    
    display: inline-block;
}
span.hyper_cc,
span.hyper_ideal,
span.hyper_paypal, 
span.hyper_giropay,
span.hyper_paysafe, 
span.hyper_sofort,
span.hyper_cc_ae,
span.hyper_cc_vi, 
span.hyper_cc_mc,
span.hyper_cc_jcb,
span.hyper_cc_di {
    height: 20px;
    padding-top: 3px;    
    display: inline-block;
}
span.hyper_cc,
span.hyper_ideal,
span.hyper_paypal, 
span.hyper_giropay,
span.hyper_paysafe, 
span.hyper_sofort {
    margin-left: 15px;
}
span.hyper_cc_ae {
    width: 30px; 
    background: url('../images/hypers.png') 30px -1px;
}
span.hyper_cc_vi {
    width: 46px;   
    background: url('../images/hypers.png') 0px -1px;
}
span.hyper_cc_mc {
    width: 46px;  
    background: url('../images/hypers.png') 161px -1px;
}
span.hyper_cc_jcb {
    width: 40px;   
    background: url('../images/hypers.png') 116px -1px;
}
span.hyper_cc_di {
    width: 40px;   
    background: url('../images/hypers.png') 76px -1px;
}
span.hyper_ideal {
    width: 30px;    
    background: url('../images/hypers.png') 0 52px;    
}
span.hyper_paypal {
    width: 50px;
    background: url('../images/hypers.png') 0 147px;
}
span.hyper_giropay {
    width: 40px;
    background: url('../images/hypers.png') 0 84px;
}
span.hyper_paysafe {
    width: 80px;
    background: url('../images/hypers.png') 0 20px;
}
span.hyper_sofort {
    width: 50px;
    background: url('../images/hypers.png') 0 115px;
}
.poa-dob select {
    max-width: 90%;
}